<mat-sidenav-container class="example-container">
    <mat-sidenav #sidenav [mode]="mode.value">
    <p><span>&nbsp;&nbsp;</span></p>
    <p><button mat-button (click)="goToDBPage()" >DashBoard</button></p>  
    <p><button mat-button >New Users</button></p>
  </mat-sidenav>

  <mat-sidenav-content>
    <p><button mat-button (click)="sidenav.toggle()">Menu1</button></p>
     <p><span class="example-radio-group" >Welcome to User Screen</span></p>
      
  </mat-sidenav-content>
</mat-sidenav-container>
